<html>
    <body>

<div class="container" >
        
         <div class="panel-body">
             <div class="row">
                 <div class="input-field col s12">
                         <label for="email">UserName:</label>
                     <input [(ngModel)]="username" type="text" placeholder="Enter Username" >

                     
                    
                 </div>
             </div>
      
             <div class="row">
                 <div class="input-field col s12">
                         <label for="password">Password:</label>
                     <input [(ngModel)]="user_password"  type="password" placeholder="Enter password">
                     
                   
                 </div>
                 </div>

      
             <div class="row">      
             <button (click)="login()"  class="btn waves-effect waves-light"  type="submit">Login</button> <a><h5>Forgot Password ?</h5></a>
                 </div>

         </div>
      
      </div>


      <div class="container" >
        
        <div class="panel-body">
   

                <div class="row">
                   <div class="input-field col s12">
                        
                        <!--input type='file' onchange="readURL(this);" /-->

                        <input [(ngModel)]="imageValue" type='file' onchange="readURL(this);" />
                           <img id="blah" src="#"  />
                     
                   </div>
            </div>


            
                <div class="row">      
                   <button (click)="image()"  class="btn waves-effect waves-light"  type="submit">Send</button> 
                       </div>
                
           

                
 

        </div>
     
     </div>

    </body>
    </html>
